page-home {
	.content-title {
		text-align: center;
		padding:10px 0;
	}
	.project-description {
		text-align: center;
		position: absolute;
		bottom:0;
		left:0;
		right:0;
	}
	.action-buttons {
		margin-top:50px;
		button {
			margin-bottom:20px;
		}
	}
}
