<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Home</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<h2 class="content-title">GeoLocator</h2>
	<div class="action-buttons">
		<button ion-button full primary round (click)="goToRegister()">Register/Login</button>
		<button ion-button full secondary round color="danger" (click)="stopBackgroundGeolocation()" *ngIf="backgroundGeoLocationIsRunning">Stop GeoLocation</button>
		<button ion-button full secondary round color="dark" (click)="goToSettings()">Settings</button>
	</div>
	<div class="project-description">
		<h5>Gandit, Proiectat, Dezvoltat si Prezentat de:</h5>
		<p>Andreea Oltean</p>
		<p>Andrei Cristian Terecoasa</p>
	</div>
</ion-content>
