page-login {
    .login-content {
        background: #fff;
		.appImage {
			margin: 20px auto 0;
		}
        .login-box {
            background: #2c3e50;
            padding: 20px 20px 0px 20px;
            margin-top: 60px;
        }

        ion-row {
            align-items: center;
            text-align: center;
        }

        ion-item {
            border-radius: 30px !important;
            padding-left: 30px !important;
            font-size: 0.9em;
            margin-bottom: 10px;
            border: 1px solid #ffffff;
            border-bottom: 0px !important;
            box-shadow: none !important;
        }

        .signup-col {
            margin: 0px 16px 0px 16px;
            padding-bottom: 20px;
        }

        .item-inner {
            border-bottom-color: #ffffff !important;
            box-shadow: none !important;
        }

        .submit-btn {
            border-radius: 30px !important;
			border: 1px solid #ffffff;
			background: #7f8c8d;
			color:#ecf0f1;
        }
    }
}
