<ion-content class="login-content" padding>
	<ion-row>
		<img class="appImage" src="/assets/imgs/navigation.png" alt="">
	</ion-row>
	<div class="login-box">
		<form (ngSubmit)="false" #registerForm="ngForm">
			<ion-row>
				<ion-col>
					<ion-list inset>
						<ion-item>
							<ion-input type="text" placeholder="Email" name="email" [(ngModel)]="registerCredentials.email" required></ion-input>
						</ion-item>
						<ion-item>
							<ion-input type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password" required></ion-input>
						</ion-item>
					</ion-list>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col class="signup-col">
					<button ion-button class="submit-btn" id="register" full (click)="doConnect()" [disabled]="!registerForm.form.valid">Connect</button>
				</ion-col>
			</ion-row>
		</form>
	</div>
</ion-content>
