<ion-header>

	<ion-navbar>
		<ion-title>Trace for {{device.deviceName}}</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>


	<button ion-button secondary color="primary" (click)="changeRefreshInterval()">Refresh Interval</button>
	<div #map id="map">
	</div>
</ion-content>
