<!--
  Generated template for the DevicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
		<ion-navbar>
			<button ion-button menuToggle>
				<ion-icon name="menu"></ion-icon>
			</button>
			<ion-title>Device</ion-title>
		</ion-navbar>
	</ion-header>


<ion-content padding>
	<ion-list>
		<ion-item *ngFor="let device of userDevices; let i = index">
			<ion-item-sliding>
				<ion-item>
					<h2>{{device.deviceName}}</h2>
					<p><b>ID:</b> {{device.uuid}}</p>
				</ion-item>
				<ion-item-options side="left">
					<button ion-button color="primary" (click)="renameDevice(device, i)">
						<ion-icon name="text"></ion-icon>
						Rename
					</button>
					<button ion-button color="secondary" (click)="viewOnMap(device)">
						<ion-icon name="map"></ion-icon>
						View On Map
					</button>
				</ion-item-options>
				<ion-item-options side="right">
					<button ion-button color="primary">
						<ion-icon name="mail"></ion-icon>
						Destroy
					</button>
				</ion-item-options>
			</ion-item-sliding>
		</ion-item>
	</ion-list>
</ion-content>
