<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Home</ion-title>
	</ion-navbar>
</ion-header>



<ion-content padding>
	<p>Settings For geolocator</p>
	<ion-list>
		<ion-item>
			<ion-label>Accuracy</ion-label>
			<ion-select [(ngModel)]="appSettings.desiredAccuracy">
				<ion-option value="10">10</ion-option>
				<ion-option value="100">100</ion-option>
				<ion-option value="1000">1000</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label color="primary">Stationary Radius (m)</ion-label>
			<ion-input type="number" placeholder="50" [(ngModel)]="appSettings.stationaryRadius"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label color="primary">Distance Filter (m)</ion-label>
			<ion-input type="number" placeholder="50" [(ngModel)]="appSettings.distanceFilter"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Start On Boot</ion-label>
			<ion-select [(ngModel)]="appSettings.startOnBoot">
				<ion-option value="true">Yes</ion-option>
				<ion-option value="false">No</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label>Stop On Terminate</ion-label>
			<ion-select [(ngModel)]="appSettings.stopOnTerminate">
				<ion-option value="true">Yes</ion-option>
				<ion-option value="false">No</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label color="primary">Acquire Interval (ms)</ion-label>
			<ion-input type="number" placeholder="50" [(ngModel)]="appSettings.interval"></ion-input>
		</ion-item>
	</ion-list>
	<button ion-button full color="primary" round (click)="saveSettings()">Save</button>
</ion-content>
