<!--
  Generated template for the MapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>Trace for {{device.deviceName}}</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>


	<div id="map_canvas">
	<button ion-button secondary color="primary" (click)="changeRefreshInterval()">Refresh Interval</button>
	</div>
</ion-content>
